@{
    ViewData["Title"] = "Thông tin tác giả";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using Library.Models
@model IEnumerable<NhaXuatBan>

<div class="col-md-12">
    @Html.ActionLink("Thêm mới nhà xuất bản", "AddNew", "QuanLyNhaXuatBan", null, new { @class = "btn btn-success" })
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Nhà xuất bản</h4>
            <p class="card-category"> Thông tin về tất cả nhà xuất bản của sách trong thư viện</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                    <th>
                        Mã
                    </th>
                    <th>
                        Tên nhà xuất bản
                    </th>
                    <th>
                        Địa chỉ
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                    </th>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                        <tr>
                            <td class="text-primary">
                                @Html.DisplayFor(m => i.Ma)
                            </td>
                            <td>
                                @Html.DisplayFor(m => i.Ten)
                            </td>
                            <td>
                                @Html.DisplayFor(m => i.DiaChi)
                            </td>
                            <td>
                                @Html.DisplayFor(m => i.Email)
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", "QuanLyNhaXuatBan", new { @id = i.Ma }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Xóa", "Delete", "QuanLyNhaXuatBan", new { @id = i.Ma }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>