@{
    ViewData["Title"] = "Thông tin thể loại";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using Library.Models
@model IEnumerable<TheLoai>

<div>
    @Html.ActionLink("Thêm mới thể loại", "AddNew", "QuanLyTheLoaiSach", null, new { @class = "btn btn-success" })
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title ">Thể loại</h4>
            <p class="card-category"> Thông tin về tất cả thể loại sách</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                    <th>
                        Mã
                    </th>
                    <th>
                        Tên thể loại
                    </th>
    
                    <th>
                    </th>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td class="text-primary">
                                    @Html.DisplayFor(m => i.Ma)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => i.TenTheLoai)
                                </td>
                    
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", "QuanLyTheLoaiSach", new { @id = i.Ma }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Xóa", "Delete", "QuanLyTheLoaiSach", new { @id = i.Ma }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
